{% extends "common.html" %} 
{% load crispy_forms_tags %}
{% block contents %} 

 <h3>Add New File</h3>
<hr>

<div class="jumbotron align-center">
  <form action="" id="fileForm" style="background-color:#e2e5e8" autocomplete="off" method="post" >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">{{ form.file_type|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.file_class|as_crispy_field }}</div>
      <div class="col-md-3">{{ form.file_section|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.FileCreationDate|as_crispy_field }}</div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">{{ form.file_name|as_crispy_field}}</div>
      <div class="col-md-2"></div>
    </div>
    
    <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">{{ form.file_number|as_crispy_field}}</div>
        <div class="col-md-2"></div>
      </div>
      <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <button  type='submit' class="btn btn-success btn-lg">
          {{header_ico_tag.ico|safe}}
          &nbsp;<b>ADD</b></button>
      </div>
    </div>
    
  </form>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_file_division").change(function () {
      var url = $("#fileForm").attr("data-departments-url");  // get the url of the `load_departments` view
      var divisionId = $(this).val();  // get the selected division ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-departments/)
        data: {
          'file_division': divisionId       // add the division id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_departments` view function
          $("#id_file_department").html(data);  // replace the contents of the department input with the data that came from the server
        }
      });

    });
	
	$("#id_file_department").change(function () {
      var url = $("#fileForm").attr("data-sections-url");  
      var departmentID = $(this).val();  

      $.ajax({                       
        url: '{% url 'ajax_load_sections' %}',                    
        data: {
          'file_department': departmentID       
        },
        success: function (data) {   
          $("#id_file_section").html(data);  
        }
      });

    });
  </script> -->
  

{% endblock contents %}