{% extends "common.html" %}

{% block contents %}

<div class="table-responsive">
    <table class="table align-middle table-striped table-dark">
      <thead class="table-dark align-middle">
        <th scope="col" class="text-center">#</th>
        <th scope="col">File Name</th>
        <th scope="col">File Number</th>
        <th scope="col">Division</th>
        <th scope="col">Department</th>
        <th scope="col">Section</th>
      </thead>
      <tbody>
      {% for row in Dt %}
          <tr>
          <th class="table-dark text-center">{{ forloop.counter }}</th>
          <td>{{row.file_name}}</td>
          <td>{{row.file_number}}</td>
          <td>{{row.file_division}}</td>
          <td>{{row.file_department}}</td>
          <td>{{row.file_section}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock contents %}