{% extends "common.html" %}

{% block contents %}

<div class="table-responsive">
    <table class="table align-middle table-striped table-dark">
      <thead class="table-dark align-middle">
        <th scope="col" class="text-center">#</th>
        <th scope="col">নথির বিষয়</th>
        <th scope="col">নথির নম্বর</th>
        <th scope="col">নথির ধরণ</th>
        <th scope="col">নথির শ্রেণি</th>
        <th scope="col">নথির শাখা</th>
        <th scope="col">অপশন</th>
      </thead>
      <tbody>
      {% for row in Dt %}
          <tr>
          <th class="table-dark text-center">{{ forloop.counter }}</th>
          <td>{{row.file_name}}</td>
          <td>{{row.file_number}}</td>
          <td>{{row.file_type}}</td>
          <td>{{row.file_class}}</td>
          <td>{{row.file_section}}</td>
          <!-- for delete -->
            <td class="text-center">      
              <form action="{% url 'File_pdf_print' row.id %}" method="get">
                {% csrf_token %}
      
              <button type="submit" class="btn btn btn-primary text-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
               Print
              </button>
              </form> 
            </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

{% endblock contents %}