<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
    <div>
        <h5>নথি শ্রেণি ঃ একশ্রেনী</h5>
        <h5>বিষয় ঃ বিশয় নাই</h5>
        <br><br>
        <h5>নথি নং ঃ নম্বর নাই</h5>
        <br>
        <h5> [ Pipeline Construction ] </h5>
    </div>
</body>
</html>